language: go

go:
  - "1.11"

os: 
  - linux

sudo: false

branches:
  only:
    - master

install:
  # Setting environments variables
  - go get github.com/revel/revel
  - go get github.com/revel/cmd/revel
script:
  # Commented out persona test sample, since persona.org gonna be shutdown.
  # Also http://personatestuser.org becomes non-responsive most of the time.
  # https://wiki.mozilla.org/Identity/Persona_Shutdown_Guidelines_for_Reliers
  # - revel test github.com/revel/examples/persona
  # Build & run the sample apps
  - cd ../
  - pwd
  - mv nplf ../../
  - cd ../../../
  - ls src/
  - ls -l
  - revel run nplf
  - revel test nplf