{{set . "title" "Facture"}}
{{template "header.html" .}}
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-1">
            Pannier
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-6 h3" style="text-align: center">
            Intervention
        </div>
        <div class="col-lg-3">

        </div>
    </div>
{{if .tags}}
    <table>
        <thead>
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2 h4" style="text-align: left;">
                Date
            </div>
            <div class="col-lg-2 h4" style="text-align: left;">
                Addresse
            </div>
            <div class="col-lg-2 h4" style="text-align: left">
                Supprimer
            </div>
            <div class="col-lg-2 h4" style="text-align: left">
                Status
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        </thead>
        <tbody>
        {{range .tags}}
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-2" style="text-align: left;font-weight: 500">
                    {{.Time}}
                </div>
                <div class="col-lg-2" style="text-align: left;font-weight: 500">
                    {{.Place}}
                </div>
                <div class="col-lg-2" style="text-align: left;font-weight: 500">
                    Supprimer
                </div>
                <div class="col-lg-2" style="text-align: left;font-weight: 500">
                    {{if .Pending}}
                        En attente
                    {{else}}
                        {{if .Accepted.Bool}}
                            Accepté
                        {{else}}
                            Refusé
                        {{end}}
                    {{end}}
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        {{end}}
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6" style="text-align: right;font-weight: 500">
            Total: {{.total}}€
        </div>
        <div class="col-lg-3">

        </div>
    </div>
{{else}}
    <p>
        Aucune action prévus.
    </p>
{{end}}
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6" style="text-align: center;font-weight: 500">
        Ajouter
    </div>
    <div class="col-lg-3">
    </div>
</div>

{{template "footer.html" .}}
