<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto form-inline my-2 my-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url "Client.index"}}">BoB Shop</a>
                </li>
            </ul>
            <ul class="navbar-nav form-inline my-2 my-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url "Client.Facture"}}">Panier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url "App.Profil"}}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url "App.LogOut"}}">Deconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
</header>